.wbaseItem-value[id="75f702c8-ca99-40be-837d-d1ca5276c9d1"] {
    width: 1920px;

    height: 1080px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(245, 245, 245);

    --child-space: 0px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 26;

    order: 26;

}

/*  */
.wbaseItem-value[id="8be2daba-d711-4ab9-89fa-09b564cab2c1"] {
    width: 296px;

    height: 100%;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(22, 26, 23);

    --child-space: 0px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 0;

    order: 0;

}

/*  */
.wbaseItem-value[id="7f43c903-2a69-4aeb-904e-9742712b3293"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 8px 8px 8px 8px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="f9c49c9e-8540-48cd-bfbf-a48818c2a404"] {
    width: 85.5px;

    height: 24px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="4269203f-0aae-4a26-991a-3b16a6dc8eed"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="6770c595-17e4-452e-a20d-0be5595654b8"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(0, 153, 68);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 24px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="7d38559b-3603-475a-9ef0-b3ec3521404c"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 0;

    order: 0;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="a85ada29-e6a9-43b9-8947-2454e085aef4"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="1b891957-0665-4ccc-b4b5-526dccbad015"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 2;

    order: 2;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="a61cd518-397b-49f5-8dc5-fdcae5adaaf3"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="0dcaab68-65e4-4ff6-8c79-593356b0db21"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 24px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="873edb5b-3222-4d5e-8656-a276d9931777"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="ac4a5861-3a44-40fc-9306-ac1a103c046c"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 8px;

    border-top-right-radius: 8px;

    border-bottom-left-radius: 8px;

    border-bottom-right-radius: 8px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px undefinedpx 0px 0px;

    z-index: 2;

    order: 2;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="26cf3c06-95be-4242-9ff6-cd6e40f77978"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="31cef5c9-ca16-4fa6-aa70-faa26202cf5a"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgba(0, 53, 128, 0.08);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 24px;

    z-index: 3;

    order: 3;

}

/*  */
.wbaseItem-value[id="e82149db-55d7-4375-8620-c21dd8d8ff53"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="8e9d54c3-c0e1-4e1f-bb2f-aa11866fdc03"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="2788fdae-37bf-49d8-bc96-9e92a4bf1978"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="8ed2b194-c6b1-40a2-9116-06552de97b33"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="da044d6c-8bfe-458e-8950-1c20c8d7d714"] {
    width: 32px;

    height: 20px;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(230, 0, 18);

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 2px 8px 2px 8px;

    z-index: 3;

    order: 3;

}

/*  */
.wbaseItem-value[id="46a1bd1e-9242-4e4d-841d-eb345f7fd4e9"] {
    width: 16px;

    height: fit-content;

    font-family: Inter;

    font-size: 12px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 12px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="4e5cb6ff-ee6e-4197-a35f-edd825a8b22e"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="40626810-204b-4a62-8fce-594bca032d4a"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 52px;

    z-index: 4;

    order: 4;

}

/*  */
.wbaseItem-value[id="72d4b33d-b39e-4dae-ba33-51fcfa874ffa"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(255, 255, 255, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="73a0a5ce-3f7c-49ee-a86e-a8fc2b799a25"] {
    width: 32px;

    height: 20px;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(230, 0, 18);

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 2px 8px 2px 8px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="d8a478bc-403c-4ee3-a7a9-e0bf5dc608bb"] {
    width: 16px;

    height: fit-content;

    font-family: Inter;

    font-size: 12px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 12px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="91557616-ad8f-4d45-a2d0-ea8ba5ba503c"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 52px;

    z-index: 5;

    order: 5;

}

/*  */
.wbaseItem-value[id="37ae8587-aff3-44ee-9fae-eeab5774063f"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(255, 255, 255, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="5faa74bc-7855-4da8-81a1-fd27ae9b57e6"] {
    width: 32px;

    height: 20px;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(230, 0, 18);

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 2px 8px 2px 8px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="a415600a-3a97-4ae3-b715-7e62c92d3a5b"] {
    width: 16px;

    height: fit-content;

    font-family: Inter;

    font-size: 12px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 12px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="9bb5b292-13b7-432e-b4c0-05b5f9ef4072"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 24px;

    z-index: 6;

    order: 6;

}

/*  */
.wbaseItem-value[id="9afc3762-9c1a-4f76-860c-fa536540b5a5"] {
    width: fit-content;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="3f1c56d3-a322-4dd6-abd7-e132401d019d"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="30207399-2e4f-4d7f-9cd3-b502b16a83a6"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 8px;

    border-top-right-radius: 8px;

    border-bottom-left-radius: 8px;

    border-bottom-right-radius: 8px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px undefinedpx 0px 0px;

    z-index: 2;

    order: 2;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="ca385d5c-9065-4f54-983e-abfedaba2c01"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="a5393e5b-021c-4685-ae25-3b06fbaa27cc"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="d627858b-8914-4701-8239-2b65309f0587"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 52px;

    z-index: 7;

    order: 7;

}

/*  */
.wbaseItem-value[id="ddd73d6b-d63b-4063-9e12-2b9bafdfa77e"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(255, 255, 255, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="133499e0-765b-4ebb-b1af-ffcf554c8b3f"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 52px;

    z-index: 8;

    order: 8;

}

/*  */
.wbaseItem-value[id="f3861559-5545-48d4-94ae-57486046fd0e"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(255, 255, 255, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="470cc211-0edc-4b1d-bedc-75cc28e620d7"] {
    width: 32px;

    height: 20px;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(230, 0, 18);

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 2px 8px 2px 8px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="4a34f3a3-abd2-49a3-90e3-8eb8c567cf2f"] {
    width: 16px;

    height: fit-content;

    font-family: Inter;

    font-size: 12px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 12px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="e5497bd4-502d-421c-8f81-c5dc21c6e70b"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 24px 10px 24px;

    z-index: 11;

    order: 11;

}

/*  */
.wbaseItem-value[id="f3bb4063-3b3c-4d4d-9417-322506e43eb6"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="ff60d258-2de2-4856-9cf0-6e11c8660343"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="e3a60c7b-be22-4c1a-9a70-b7c755e92cb4"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 3;

    order: 3;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="33b20667-5f95-46a9-bad1-b7c2b39d425d"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="74ae7288-ef7d-4346-995d-0fb731ad64f7"] {
    width: 100%;

    height: 100%;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 0px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="7bac1877-a9b5-47ee-8da1-167c51543223"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 24px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 32px 0px 32px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="ecca08d1-21b7-411a-a8b9-d1c459618e69"] {
    width: 20px;

    height: 20px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="2e5b1d94-1f6c-4981-9635-88f1dcc19b3b"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 24px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="e8112cce-4c3e-4c13-baeb-497330195733"] {
    width: 240px;

    height: 40px;

    border-top-left-radius: 4px;

    border-top-right-radius: 4px;

    border-bottom-left-radius: 4px;

    border-bottom-right-radius: 4px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(245, 245, 245);

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.4);

    line-height: 22px;

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 10px 16px 10px 16px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="9014aae6-d0fb-4e07-9756-f4e37c3cf2f7"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="a30a6cfb-219a-4937-bd54-0fb4c91a3fb3"] {
    z-index: 2;

    order: 2;

    --focus-color: #1890ff;

    height: 100%;

}

/*  */
.wbaseItem-value[id="b14b2e56-121a-4832-a538-0fd75c2799ec"] {
    width: 102px;

    height: 22px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 3;

    order: 3;

}

/*  */
.wbaseItem-value[id="5c81f128-4c99-44d2-ba6c-4d93c37b5ad2"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.6);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="951a75cd-e8c1-423c-8904-4717273a83b3"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="183e2f6f-a1c0-4efc-a2c0-e7b559385ed0"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: visible;

    overflow-y: visible;

    --child-space: 24px;

    --run-space: 0px;

    --main-axis-align: flex-end;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 3;

    order: 3;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="74eb440d-f92c-412f-b103-33c9d0411af1"] {
    width: 32px;

    height: 32px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="f674103f-77f6-4b34-8232-44ba0b8368d1"] {
    width: 24px;

    height: 24px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="6dad6ded-6a9a-48c8-b021-61ae1bd4ed9d"] {
    width: 35px;

    height: 30px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: visible;

    overflow-y: visible;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 4px 0px 4px 0px;

    z-index: 3;

    order: 3;

}

/*  */
.wbaseItem-value[id="b169c52e-1846-4a25-8c5f-879e94e08eea"] {
    width: 24px;

    height: 24px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="ac342235-5e5b-447d-a3d6-93b5d22874c8"] {
    width: fit-content;

    height: fit-content;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(230, 0, 18);

    border-top-width: 2px;

    border-top-style: solid;

    border-top-color: rgb(255, 255, 255);

    border-right-width: 2px;

    border-right-style: solid;

    border-right-color: rgb(255, 255, 255);

    border-bottom-width: 2px;

    border-bottom-style: solid;

    border-bottom-color: rgb(255, 255, 255);

    border-left-width: 2px;

    border-left-style: solid;

    border-left-color: rgb(255, 255, 255);

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 0px 8px 0px 8px;

    z-index: 2;

    order: 2;

    left: 12px;

    top: 0px;

}

/*  */
.wbaseItem-value[id="cdbe8101-7b91-4f90-957f-eb00ad0ff384"] {
    width: max-content;

    height: 14px;

    font-family: Inter;

    font-size: 8px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgb(255, 255, 255);

    line-height: 14px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="62442f56-6fd0-43d9-980d-7ecb0be75657"] {
    width: fit-content;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 4;

    order: 4;

}

/*  */
.wbaseItem-value[id="b77237c8-0738-47ba-b890-7eb5bd3e5e73"] {
    width: 32px;

    height: 32px;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

    background-image: url("https://file.wini.vn/3153/202352/anh-chup-man-hinh-2021-09-16-luc-164554-16317883688431176097707-9-0-422-660-crop-16317901196691940274219.png");

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="2033bc88-784c-4e10-a40a-728f2cf2224e"] {
    width: fit-content;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="9e4639f8-e676-48b8-b4b9-57a75aa3318e"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.6);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="4f545390-49a9-40c4-bbe7-6e66559f9e8b"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="f224f136-8ca4-4ee7-8ed1-a9261026c522"] {
    width: 24px;

    height: 24px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 5;

    order: 5;

}

/*  */
.wbaseItem-value[id="020aa956-0492-422d-9207-6ce343832870"] {
    width: 100%;

    height: 100%;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="dd598d35-de32-4676-89b5-c3b21750c8d9"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 16px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 32px 0px 32px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="a839fe30-143a-422c-9476-b0d190599feb"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 16px 0px 0px 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="d5dfbdc2-d87e-474b-9ec7-e6bffd1f1fee"] {
    width: 200px;

    height: 28px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="7d0a45c3-ce03-4d2a-95b9-156990efabb6"] {
    width: fit-content;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 16px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="6fcf715f-2c5d-4ba5-98e8-80dd61a7fd35"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 20px;

    font-weight: 700;

    letter-spacing: 0px;

    color: rgb(40, 40, 41);

    line-height: 28px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="b1ce4d4f-8d45-4d27-b682-9f1b1d942be5"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 8px;

    border-top-right-radius: 8px;

    border-bottom-left-radius: 8px;

    border-bottom-right-radius: 8px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 24px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 24px 24px 24px 24px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="0d96e968-140b-4044-9528-e5004170fc89"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="a1507261-9fd8-4bcc-af6f-d341b439f7e5"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 16px;

    font-weight: 700;

    letter-spacing: 0px;

    color: rgb(40, 40, 41);

    line-height: 24px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="22608aa1-b1a6-4224-bc6e-86c84dff1493"] {
    table-layout: auto;

    --col-border: 0px;

    --row-border: 0px;

    --header-bg: #FFFFFF00;

    --footer-bg: #FFFFFF00;

    width: 100%;

    height: fit-content;

    border-top-left-radius: 8px;

    border-top-right-radius: 8px;

    border-bottom-left-radius: 8px;

    border-bottom-right-radius: 8px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --text-align: -webkit-left;

    --vertical-align: top;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="9384a8b0-da55-4b59-a104-6389fa4330e7"] {
    width: 100%;

    height: 48px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(245, 245, 245);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="ab8ea6f0-ac7a-4a31-a99e-d5f2e96dcf93"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgb(40, 40, 41);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="6938f744-8e33-4aab-9484-6e319f390756"] {
    width: 100%;

    height: 48px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(245, 245, 245);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="fbd2de90-9272-4c89-aaa2-6e0559d97ee9"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgb(40, 40, 41);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="30256665-d705-4af9-9530-df0feef9c426"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 10;

    order: 10;

}

/*  */
.wbaseItem-value[id="19dfa823-a52a-452f-bb51-46664ef692b6"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="89900059-5573-45bd-9e70-fa64d615405a"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 11;

    order: 11;

}

/*  */
.wbaseItem-value[id="3158f8b1-9eec-4109-8585-11391a0605d6"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="6796075b-f801-4f16-8506-f4a7927c17ce"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 3;

    order: 3;

}

/*  */
.wbaseItem-value[id="72e4a92d-373f-4318-a4b4-de2d6f33f2fd"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="d63daed6-7db8-447e-b112-855e0fc54f79"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 7;

    order: 7;

}

/*  */
.wbaseItem-value[id="6b04c22b-a01b-4039-952c-e884350bfeaf"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="b7751c7d-d7e0-4c80-95fa-dd63586114ad"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 4;

    order: 4;

}

/*  */
.wbaseItem-value[id="b04c1149-e5e1-4da4-a4ac-798c6fa26924"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="a1b3c575-b35a-4539-97db-1e1bb653d37b"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 9;

    order: 9;

}

/*  */
.wbaseItem-value[id="d3c57e86-60ee-4692-8b5d-dd29e8230773"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="c157127a-8d14-4df2-a171-830e81ec9117"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 6;

    order: 6;

}

/*  */
.wbaseItem-value[id="7167662e-dc64-4ae5-b890-edaa94c0adcd"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="83fb27fe-e03f-4c3a-a970-4e7fb4b0c713"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 9;

    order: 9;

}

/*  */
.wbaseItem-value[id="a6bd6815-2017-4277-9df6-2348eab86846"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="63e017ea-a68f-4080-b98f-55a29258eeb0"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 5;

    order: 5;

}

/*  */
.wbaseItem-value[id="37870c6a-3f9e-41e4-ac6f-381e5149a412"] {
    width: max-content;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="7a48651a-f30d-483d-8484-d1a41008e7fb"] {
    width: 100%;

    height: 56px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.24);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.24);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.24);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.24);

    --child-space: 12px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 0px 24px 0px 24px;

    z-index: 10;

    order: 10;

}

/*  */
.wbaseItem-value[id="2ea09db7-4e5a-4147-868f-355d939e8494"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}