.wbaseItem-value[id="21534c92-ad81-44e1-8c58-698e40189c50"] {
    width: 354px;

    height: 360px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 50;

    order: 50;

}

/*  */
.wbaseItem-value[id="6bc91ec1-fcec-4f2b-aa5c-0e02194ae617"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="d5222857-37eb-41af-a047-1f0a8f0d7f2c"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 0px 0px 0px 0px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="b9890bd9-8d49-450f-8e9a-7845febd6379"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 500;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.9);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="71cad587-9dbb-4879-b659-5776fb62fd7d"] {
    width: 100%;

    height: 40px;

    border-top-left-radius: 4px;

    border-top-right-radius: 4px;

    border-bottom-left-radius: 4px;

    border-bottom-right-radius: 4px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 1px;

    border-top-style: solid;

    border-top-color: rgb(0, 153, 68);

    border-right-width: 1px;

    border-right-style: solid;

    border-right-color: rgb(0, 153, 68);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgb(0, 153, 68);

    border-left-width: 1px;

    border-left-style: solid;

    border-left-color: rgb(0, 153, 68);

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.8);

    line-height: 22px;

    --child-space: 4px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 10px 16px 10px 16px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="d6e5d6c3-17bb-4909-89f8-3ad09d119253"] {
    z-index: 1;

    order: 1;

    --focus-color: #1890ff;

    height: 100%;

}

/*  */
.wbaseItem-value[id="0404c7f6-131f-413f-b2b2-7fe3149a4e43"] {
    width: 16px;

    height: 16px;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="7ac18014-8310-4e95-b880-72876923962c"] {
    width: 354px;

    height: 100%;

    border-top-left-radius: 4px;

    border-top-right-radius: 4px;

    border-bottom-left-radius: 4px;

    border-bottom-right-radius: 4px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 0px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="79cc266d-cf38-45da-84dd-90edbc378b82"] {
    width: 354px;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    border-top-width: 0px;

    border-top-style: solid;

    border-top-color: rgba(88, 88, 91, 0.12);

    border-right-width: 0px;

    border-right-style: solid;

    border-right-color: rgba(88, 88, 91, 0.12);

    border-bottom-width: 1px;

    border-bottom-style: solid;

    border-bottom-color: rgba(88, 88, 91, 0.12);

    border-left-width: 0px;

    border-left-style: solid;

    border-left-color: rgba(88, 88, 91, 0.12);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 12px 10px 12px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="3b9148c2-7272-415d-b153-7a8e7c717d80"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgb(0, 153, 68);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="3d8f8d99-1ece-45e3-84ee-e58323bebcc7"] {
    width: 354px;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 0px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 0px 0px 0px 0px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="ffef6ce3-625d-4021-83bd-1d50f5623d83"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 0px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: flex-start;

    --padding: 8px 0px 8px 0px;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="ac07af26-fa0e-4da1-858f-8e04eed8e556"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgba(88, 88, 91, 0.08);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 12px 10px 12px;

    z-index: 1;

    order: 1;

}

/*  */
.wbaseItem-value[id="8c3f18f0-5c47-458c-ba05-c271621e48b1"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.9);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="a87e3b84-dd25-442b-9a0a-1049cfabb9e1"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgba(88, 88, 91, 0.08);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 12px 10px 12px;

    z-index: 2;

    order: 2;

}

/*  */
.wbaseItem-value[id="ad19f08e-f610-4665-903b-e32167f67f2b"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.9);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="0502561a-40bd-4d09-981e-ffa8eeaddf6d"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 12px 10px 12px;

    z-index: 3;

    order: 3;

}

/*  */
.wbaseItem-value[id="651d5931-9269-4572-b2b0-aba3d4ab9a52"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.9);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="b2fbe2cf-11a8-4d6b-bbc3-e8869340fb7a"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 12px 10px 12px;

    z-index: 4;

    order: 4;

}

/*  */
.wbaseItem-value[id="20c28916-736d-47c4-b3c8-3615cfeaaa73"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.9);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="a37eef58-e37b-432f-bc2a-b213ebe907c2"] {
    width: 100%;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    background-color: rgb(255, 255, 255);

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: flex-start;

    --cross-axis-align: center;

    --padding: 10px 12px 10px 12px;

    z-index: 5;

    order: 5;

}

/*  */
.wbaseItem-value[id="6bde13f3-9366-401f-9df9-4c2b6d1c3159"] {
    width: 100%;

    height: fit-content;

    font-family: Inter;

    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0px;

    color: rgba(40, 40, 41, 0.9);

    line-height: 22px;

    align-items: start;

    text-align: start;

    justify-content: center;

    text-overflow: ellipsis;

    z-index: 1;

    order: 1;

    flex-grow: 1;

    flex-shrink: 1;

    flex-basis: 0%;

}

/*  */
.wbaseItem-value[id="7b10bd81-fee7-4122-9645-fb2e95afaba5"] {
    width: fit-content;

    height: fit-content;

    border-top-left-radius: 0px;

    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    overflow-x: hidden;

    overflow-y: hidden;

    --child-space: 8px;

    --run-space: 0px;

    --main-axis-align: center;

    --cross-axis-align: center;

    --padding: 8px 8px 8px 8px;

    z-index: 2;

    order: 2;

    left: 332px;

    top: 0px;

}

/*  */
.wbaseItem-value[id="3db0c656-f82d-48e5-b8f9-ee54bd97ab8f"] {
    width: 6px;

    height: 64px;

    border-top-left-radius: 40px;

    border-top-right-radius: 40px;

    border-bottom-left-radius: 40px;

    border-bottom-right-radius: 40px;

    background-color: rgb(234, 234, 235);

    z-index: 1;

    order: 1;

}